.calendar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.calendarHeader {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.weekDay {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgrey;
}

.monthDays {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
}

.day {
    padding-top: 8px;
    border: 1px solid lightgray;
    width: calc(100%/7);
    height: calc(100vh/6.5);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.task {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}


.daysWrapper {
    width: 100%;
    position: relative;
}
.tasksWrapper {
    position: absolute;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.mainRow {
    padding-top: 2%;
    width: 100%;
    height: 8vw;
}

.taskDay {
    width: calc(100%/7);
    height: calc(100vh/6.5);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3.5vh;

}
.taskWrapper {
    width: 100%;
}
.taskTitle  {
    margin-left: auto;
    background-color: rgb(121, 134, 203);
    border-radius: 5px 0 0 5px ;
    width: 95%;
    padding-left: 5px;
}
.taskTitleEnd {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(121, 134, 203);
    width: 90%;
    padding-left: 5px;
    border-radius: 5px  5px 5px 5px ;
}
.taskBg {
    background-color: rgb(121, 134, 203);
    width: 100%;
}
.taskBgLast {
    background-color: rgb(121, 134, 203);
    width: 95%;
    margin-right: auto;
    border-radius: 0  5px 5px 0 ;
}

.dayTaskCount {
    margin-top: auto;
    margin-left: auto;
    border-radius: 5px;
    padding-left: 5px;
    width: 100%;
}
.dayTaskCount:hover {
    background-color: rgba(204, 204, 204, .5);
}

.dayTaskCountWrapper {
    cursor: pointer;
    width: 98%;
    margin: auto 0 5% 0 ;
}


.nested {
    width: 100%;
}

.emptyDiv {
    height: 18px;
    margin-bottom: 0.5vh
}


