.taskWrapper {
    position: relative;
    cursor: pointer;
    /*z-index: 1;*/
}


.taskTitle {
    background-color: rgb(121, 134, 203);
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 2%;
    margin-left: 10px;
    /*cursor: pointer;*/
}

.taskTitle:hover {
    opacity: .9;
}

.row {
    height: 2.2vh;
    margin-bottom: 2%;
    width: 100%;
    padding-left: 12px;
    cursor: pointer;
}

.margin {
    width: 100%;
}
