* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --vh: 1vh;
}

@media (max-width: 767px) {
    * {
        font-size: 12px;
    }

    span {
        font-size: unset;
    }
}

html {
    overflow: hidden;
}

.App {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
}


.wrap {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-top: 45px;
    height: inherit;
}



