* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*font-size: 18px;*/
    /*font-size: calc(18px + 2 * (100vw / 1440));*/
}

.navBar {
    /*min-width: 200px;*/
    /*width: 100%;*/
    /*width: 100%;*/
    /*position: absolute;*/
}

.content {
    /*overflow-x: auto;*/
    width: 100%;
}

@media (max-width: 768px) {
    * {
        font-size: 12px;
    }

    .navBar {
        position: absolute;
        width: 100%;
        /*overflow: hidden;*/
        left: 0;
        z-index: 1;
        /*    max-width: 150px;*/
    }
}

.wrapper {
    display: flex;
    /*justify-content: center;*/
    flex-wrap: nowrap;
    /*min-width: 1000px;*/
    width: 100vw;
    position: relative;
    /*overflow: hidden;*/
    overflow-x: auto;
}

.App {

}

.navBar-exit-active {
    animation: navBarOut 1200ms forwards;
}

.navBar-enter-active {
    animation: navBarIn 600ms forwards;
}

@keyframes navBarIn {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes navBarOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-300px);
    }
}
