.list {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 230px;
    position: relative;
    max-height: 95vh;
    gap: 5px;
}

.tasks {
    max-height: 90vh;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task {
    cursor: pointer;
    width: 100%;
    padding: 3px;
    background-color: rgb(121, 134, 203);
    border-radius: 5px;
}

.task:hover {
    opacity: .9;
}

.weekday {
    font-size: 14px;
    text-transform: uppercase;
}

.date {
    color: black;
    font-size: 22px;
}

.list span {
    padding: 0;
}

/*.taskCard {*/
/*    background-color: #FFFFFF;*/
/*    border-radius: 30px;*/
/*    position: absolute;*/
/*    padding: 30px;*/
/*    width: 270px;*/
/*    bottom: -200px;*/
/*}*/
