.navListWrap {
    width: 100%;
}

.navList {
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
    position: relative;
    transform: rotate(-90deg);
    /*margin-top: 5%;*/
    margin-left: 5%;
}

.icon span {
    position: absolute;
    top: 6px;
    width: 10px;
    height: 0.25vh;
    background-color: gray;
    margin-top: 0.38vh;
}

.icon span:nth-of-type(1) {
    transform: rotate(45deg);
    left: 2px;
}

.icon span:nth-of-type(2) {
    transform: rotate(-45deg);
    left: 8px;
}

.active {
    transform: rotate(0deg);
}

.listTitle {
    margin-left: 5%;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

