.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 440px;
    width: 100%;
}

.inputWrap {
    margin-bottom: 5px;
    width: 100%;
}

.input {
    width: 100%;
    margin: 5px 0;
    padding: 5px 15px;
    border: 1px solid #0078D4;
}

.rewards {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.rewardsInputWrap {
    width: 25%;
}

.textarea {
    width: 100%;
    height: 15vw;
    resize: none;
    padding: 5px;
    border: 1px solid #0078D4;
}

.submit {
    height: 32px;
}

@media (max-width: 480px) {
    .form {
        min-width: 280px;

    }

    .rewards {
        flex-direction: column;
        gap: 5px;
    }

    .rewardsInputWrap {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .form {
        min-width: 230px;
    }
}
