.header{
    z-index: 1;
    position: sticky;
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menuBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /*margin: 0 2%;*/
    cursor: pointer;
    width: 8%;
}
.menuBtn span {
    width: 20px;
    height: 0.25vh;
    background-color: gray;
    margin-top: 0.38vh;
}
.settingsIcon {
    height: 16px;
    width: 16px;
    margin-right: 3%;
    cursor: pointer;
}
.userInfo {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 3%;
    width: 92%;
}
.userName {

}
.userIcon {
    height: 26px;
    width: 26px;
    background-color: gray;
    border-radius: 50%;
    padding: 2px;
    margin-right: 3%;
}
img {
    width: 100%;
    height: 100%;
}
