.wrapper {
    width: 100%;
}

.calendarMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    height: 6vh;
    margin: 1%;
}

.createTaskBtn {
    width: 30%;
    margin-right: 10%;
}

.calendarModeBtn {
width: 20%;
    margin-left: 10%;
}
