.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputWrap {
    margin-bottom: 5px;
    width: 100%;
}

.input {
    width: 100%;
    margin: 5px 0;
    padding: 5px 15px;
    border: 1px solid teal;
}

.textarea {
    width: 100%;
    height: 15vw;
    resize: none;
}
