.inputWrap {
    width: 100%;
    position: relative;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.6);
    /*font-size: 14px;*/
    font-weight: 400;
    color: #000;
    width: 100%;
    height: 30px;
    border-radius: 2px;
    padding: 0 0 0 12px;

}

.error {
    color: brown;
    padding-left: 12px;
    font-size: 12px;
}

.errorFlag {
    position: absolute;
    background-color: brown;
    height: 26px;
    width: 10px;
    border-radius: 1px;
    left: 2px;
    top: 2px;
}

.inputBtn {
    user-select: none;
    position: absolute;
    cursor: pointer;
    height: 18px;
    width: 18px;
    right: 12px;
    top: 8px;
}
