.task {
    cursor: pointer;
    position: relative;
    min-width: 90%;
    color: black;
}

.task:hover {
    opacity: .9;
}

.taskInfo {
    height: 18px;
    background-color: rgb(121, 134, 203);
    transition: all 500ms linear;
    border-radius: 5px;
    padding-left: 5px;
    margin-left: 5px;
}
