.listItemWrap {
    width: 75%;
    margin-left: 25%;
    padding: 2px 0;
    cursor: pointer;
    margin-bottom: 1%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 5px;
}

.listItemWrap:hover {
    background-color: #0078D4;
    opacity: .9;
}

.activeItem {
    background-color: #0078D4;
    width: 1.5%;
    height: 2vw;
    border-radius: 5px;
}

.itemTitle {
    margin-left: 10%;
}

.itemLink {
    text-decoration: none;
    margin: 0;
    color: black;
}
