.wrap {
    max-width: 300px;
    position: relative;
}

.cardBtns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
}

.btn {
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: .75;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn img {
    width: 16px;
    height: 16px;
}

.btn:hover {
    opacity: 1;
}


.btn:first-child {
    margin-right: auto;
}
.btn:last-child {
    margin-right: 5%;
}



.completeBtn {
    width: 24px;
    height: 24px;
    border-radius: 50px;
    border: 1px solid #c9c8c8;
    background-color: #0078D4;
    position: relative;
}

.completeBtn span {
    position: absolute;
    border-radius: 2px;
    height: 12px;
    width: 1px;
    background-color: #000000;
}

.completeBtn:hover {
    background-color: #4dfc57;
}


.completeBtn span:first-child {
    top: 6px;
    left: 12px;
   transform: rotate(30deg);
}
.completeBtn span:last-child {
    top: 6px;
    left: 7px;
    transform: rotate(-30deg);
}


.taskInfo {
    padding-top: 10px;
}

.taskTitle {
}

.taskRewards {
    margin-top: 5px;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.taskReward {
    margin: 0 10%;
}

.taskTerms {
    margin-top: 5px;
}

.taskTerm {
    text-transform: capitalize;
}

