.wrap {
    max-width: 300px;
    position: relative;
}

.cardBtns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
}

.btn {
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: .75;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn img {
    width: 16px;
    height: 16px;
}

.btn:hover {
    opacity: 1;
}


.btn:first-child {
    margin-right: auto;
}

.btn:last-child {
    margin-right: 5%;
}


.completeBtn {
    margin-right: auto;
    height: 20px;
    max-width: 95px;
    width: 100%;
}


.taskInfo {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.taskTitle {

}

.taskRewards {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.taskReward {
    margin: 0 10%;
}


.taskTerm {
    text-transform: capitalize;
}

.descriptionBtn {
    margin: 0 auto;
    cursor: pointer;
    opacity: .8;
    color: #6c6c6c;
    transition: all 300ms linear;
}

.descriptionBtn:hover {
    color: black;
    opacity: 1;
}
@media (max-width: 768px) {
    .cardBtns {
        top: -14px;
    }
    .taskInfo {
        padding-top: 20px;
    }
}
