.wrapper {
    width: 100%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 45px);
    overflow-y: auto;
}

.chooseMenu {
    margin-top: 1vh;
    width: 35%;
    display: flex;
    flex-wrap: nowrap;
}

.employeeCard {
    /*height: 40vh;*/
    /*min-height: 200px;*/
    width: 100%;
    padding: 0 20px;
    margin: 1vh 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hideInfoBtn {
    margin-left: 10%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.employeeIcon {
    margin: 0 auto;
    height: 128px;
    width: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: inherit;
    height: inherit;
    background-color: #D9D9D9;
    text-align: center;
    padding-top: 40%;
}

img {
    width: 100%;
    height: 100%;
}

.employeeInfo {
    border: 1px solid #D9D9D9;
    /*height: 26vh;*/
    /*min-height: 200px;*/
    width: 100%;
    max-width: 750px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.infoHeader {
    width: 100%;
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.settingsBtnContainer {
    height: 21px;
    width: 28px;
    margin-right: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.settingsBtnImg {
    margin: 0 auto;
    height: 16px;
    width: 16px;
}

.activeBtn {
    margin-top: auto;
    border-radius: 2px;
    width: 100%;
    height: 2px;
    background-color: #0078D4;
}

.updateBtnContainer {
    cursor: pointer;
    height: 21px;
    width: 28px;
    margin-left: auto;
    margin-right: 12px;
    position: relative;
}

.updateBtn {
    position: absolute;
    height: 2px;
    width: 14px;
    background-color: #4dfc57;
    border-radius: 2px;
    top: 35%;
}

.updateBtn:first-child {
    left: 20%;
    transform: rotate(65deg);
}

.updateBtn:last-child {
    left: 40%;
    transform: rotate(-65deg);
}

.infoContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    /*min-height: 100px;*/
}

.infoText {
    display: flex;
    align-items: center;
    /*height: 30%;*/
    min-height: 40px;
    border-bottom: 1px solid #D9D9D9;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    min-width: 180px;
    width: 100%;
    overflow-x: auto;
    position: relative;
}

.input {
    max-width: 500px;
    padding: 0 5px;
    width: 100%;
}

.infoText:last-child {
    border: none;
    overflow-x: revert;
}

span {
    padding-left: 3px;
    color: #6c6c6c;
}

@media (max-width: 768px) {
    .employeeCard {
        padding: 5px;
    }

    .employeeIcon {
        width: 64px;
        height: 64px;
    }
}
