.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    height: 89vh;
}

.wrap {
    width: 80%;
    height: 92vh;
}

.inputWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pointsEdit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    max-width: 430px;
}

.titleEdit {
    width: 50%;
    display: flex;
    align-items: center;
}

.saveBtn {
    margin-top: auto;
    margin-left: 3%;
}

.specEdit {
    width: 400px;
    padding-top: 10px;

}

.label {
    padding-bottom: 5px;
    width: 100%;
}

.employeeEdit {
    width: 400px;
    padding-top: 10px;
}

.textEdit {
    padding-top: 10px;
    overflow-x: hidden;
    min-width: 300px;
    overflow-y: auto;
    max-height: 32vh;
}

.textarea {
    max-width: 630px;
    max-height: 38.5vh;
    overflow: hidden;
    padding: 5px;
    resize: none;
    min-height: 20vh;
    outline: none;
}

.dateWrap {
    width: 330px;
}
